*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    background-image: url(https://i.ibb.co/cykMGkC/bg1.jpg);
    background-size: cover;
    background-color: rgb(39, 39, 39);
    background-attachment: fixed;
}

#navbar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
    cursor: pointer;
    position: relative;
}

#navbar .fa{
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 2.3rem;
    transition: 0.3s;
}

#navbar .fa:hover{
    color: lightseagreen;
}

#navbar .logo{
    position: relative;
    height: 80px;
    padding-left: 15px;
    padding-top: 20px;
}

#navbar ul li{
    display:inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

#navbar ul li a{
    font-size: 12px;
}

#navbar ul li a:hover{
    color: lightseagreen;
    transition: .3s linear;
}

#navbar .active{
    padding: 8px;
    background-color: lightseagreen;
    border-radius: 10px;
}

#navbar .active:hover{
  color:white;
}

.navbarlinks{
    background-color: black;
}

#maincontainer{
    position: relative;
    margin: 40px;
    min-height: 100vh;
}

.container{
    padding: 20px;
    position: relative;
    height: 100%;
    width: 100%;
}

.container p{
    font-size: 24px;
}

.container p:nth-child(1){
    padding-top: 100px;
}

.container p:nth-child(3){
    padding-bottom: 80px;
}

.container h1{
    font-family: verdana;
    font-size: 4.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container h1 span{
    font-family: verdana;
    color: lightseagreen;
}

.btn{
    position: relative;
    padding: 10px;
    width: 100px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid lightseagreen;
    color: lightseagreen;
    z-index: 3;
    overflow: hidden;
    transition: 1s;
}
.btn:hover{
    border: none;
    color: white;
}
.btn span{
    position: absolute;
    background-color: lightseagreen;
    top:0;
    left:0;
    bottom:0;
    width:0;
    z-index: -1;
    transition: .3s ease-in-out;
}

.btn:hover span{
    width: 100%;
}

#footer{
    height: 40px;
    font-size: 14px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer ul li{
    display: inline-block;
}

#footer ul li a{
  padding: 20px;
}

#footer .fa{
    padding-left: 20px;
    padding-right: 20px;
    transition: 1s;
}

#footer .fa:hover{
    transform: rotate(360deg);
    text-shadow: 0 0 10px rgb(38, 248, 238), 0 0 20px lightseagreen;
}

.container img{
    position: absolute;
    top: 0;
    height: 400px;
    transform: translateX(670px);
    transition: 1s;
    padding-top: 30px;
    border-radius:50%;
}

.container img:hover{
    transform: translateX(650px);
}

/* Here started styling the services webpage. */
.toptext{
  font-size: 2rem;
  padding-left: 40px;
}

.card-container{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-auto-rows: minmax(450px, auto);
  grid-gap: 30px;
  padding:40px;
  margin: 0 auto;
  justify-content: center;
}

.card-container>div{
  position: relative;
  background-color: #141414;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid lightseagreen;
  transition: .5s;
}

.card-container div h2{
  color: lightseagreen;
  text-align: center;
  font-weight: 600;
  font-family: verdana;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid lightseagreen;
}

.card-container div p{
  text-align: justify;
  text-indent: 20px;
}

.card-container>div:hover{
  box-shadow: 0 0 20px lightseagreen;
}

.c-img{
  position: relative;
  height: 250px;
  width: 230px;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
}

.c-img img:hover{
    border: 15px solid transparent;
}

.c-img img{
  position: absolute;
  height: 100%;
  width:100%;
  object-fit: cover;
  transition: .5s;
}

.centerbtn{
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
  height:auto;
  min-height: 50px;
}

.centertext{
  text-align: center;
  padding-bottom: 10px;
}

/* Here started styling the about webpage. */
.subcontainer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
    align-content: center;
    margin-bottom: 50px;
}

.subcontainer img{
    height: 230px;
    width: 230px;
    background-color: rgb(32, 178, 170, 0.3);
    border-radius: 50%;
    border: 3px solid rgb(32, 178, 170, 0.5);
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.subcontainer div:nth-child(2){
    grid-row: span 2;
}

.subcontainer p{
    text-align: justify;
    font-size: 18px;
}

.subcontainer ul li{
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 18px;
}

/* Here started styling gallery. */
.gallery{
    position: relative;
    display:grid;
    grid-template-columns: repeat(3, 230px);
    grid-auto-rows: 250px;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-bottom:30px;
    justify-content:center;
    align-content: center;
    cursor: pointer;
}

.gallery div{
    align-items: center;
    position: relative;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.gallery div img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.gallery div:hover{
    border: 15px solid rgba(255, 255, 255, 0.3);
    border-radius: 5%;
    transition: 0.5s;
}

.gallery div span{
    background:rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    font-weight: 100;
    font-size: 14px;
    color: white;
    z-index: 2;
}

.toptext h4{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.fullImgBox{
    width:100%;
    height: 100vh;
    background-color: rgb(27, 27, 27, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.fullImgBox #fullImg{
    width: auto;
    max-width: 480px;
    max-height: 480px;
}

.fullImgBox span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-weight: 200;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 10px black;
  }

  .fullImgBox span:hover{
      color: red;
  }
/* Here started styling the contact webpage. */
.form{
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;
    max-width: 500px;
    padding: 20px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    background: linear-gradient(to bottom right, rgba(236, 236, 236, 0.3), rgba(131, 131, 131, 0.4));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.37);
}

.form input{
    background-color: inherit;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    padding: 5px 10px;
}

.form input::placeholder{
  color: black;
}

.form input:focus{
    background:rgba(0, 0, 0, 0.3);
    outline: none;
    font-weight: 200;
}

.form input:hover{
    background:rgba(0, 0, 0, 0.3);
}

.form textarea{
    background-color: inherit;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.37);border: 1px solid rgba(0, 0, 0, 0.37);
    padding: 10px;
    overflow-y: auto;
}

.form textarea::placeholder{
  color: black;
}

.form textarea:focus{
    background:rgba(0, 0, 0, 0.3);
    outline: none;
    font-weight: 200;
}

.form textarea:hover{
    background:rgba(0, 0, 0, 0.3);
}

.form button{
    display:block;
    width: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background:rgba(20, 20, 20, 0.5);
    border: none;
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.form button:hover{
    background:rgba(0, 0, 0, 0.8);
}

/* ================================MEDIA QUERY============================================== */
@media screen and (max-width: 600px){
    #navbar{
        display: block;
        height: 100%;
        padding-top: 10px;
    }

    #navbar .fa{
        display: block;
    }

    #navbar ul li{
        display: block;
        text-align: center;
        padding: 5px;
    }

    #navbar .logo{
        position: relative;
        height: 50px;
        max-height: 50px;
    }

    .container{
        padding-left: 0;
    }

    .container p{
        font-size: 16px;
    }

    .container h1{
        font-size: 36px;
    }

    .container img{
        display: none;
    }

    #footer{
      height: 100%;
      font-size: 12px;
      flex-direction: column;
      padding: 10px 0;
      line-height: 1.5rem;
    }

    /* SERVICES */

    .card-container{
      grid-template-columns: repeat(1, 300px);
      grid-auto-rows: minmax(300px, auto);
      grid-gap: 30px;
      padding: 10px;
    }

    .c-img{
      height: 150px;
      width: 130px;
    }

    .toptext{
      font-size: 1rem;
      padding-left: 40px;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    #maincontainer{
      margin: 10px;
    }

    .card-container div p{
      text-align: justify;
      text-indent: 20px;
      font-size: 14px;
    }

    .navbarlinks{
        display:none;
    }

    .navbarlinks.show{
        display:block;
        background-color: black;
    }

    #navbar .fa.toggled{
        color: lightseagreen;
    }

/* ABOUT */
    .subcontainer{
        grid-template-columns: 1fr;
    }

    .subcontainer img{
        height: 180px;
        width: 180px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .subcontainer p{
        text-align: justify;
        font-size: 14px;
        margin: 20px;
    }

/* GALLERY */
    .toptext{
    padding-left: 0;
    }

    .gallery{
    grid-template-columns: repeat(1, 230px);
    grid-row-gap: 30px;
    }

/* CONTACT */

.form{
    width: 90%;
}
    
    .form input,
    .form textarea{
      font-size: 12px;
      resize: vertical;
    }
}
