*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: verdana;
}

body{
  height: 100vh;
  background-color: #2b2b3d;
}

nav{
  position: relative;
  background-color: #020321;
  width: 100%;
  height: auto;
}

.navbarlinks{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.navbarlinks li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarlinks a{
  color: white;
  padding: 10px;
  margin-left: 10px;
  transition: .5s linear;
}

.navbarlinks a:hover{
  background-color: #1118f2;
}

.hbutton{
  display: none;
  position: absolute;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  right: 5px;
  top: 0;
  transition: .5s;
}

.logo{
  display: flex;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 200px;
  width:200px;
  margin-top: 50px;
}

.text{
  height: 100%;
  width: 100%;
  position: relative;
  align-items: center;
  margin-top: 30px;
}

.text h1{
  position: relative;
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
}

.rtext{
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

@media (max-width: 600px){
  .navbarlinks{
    display: none;
  }

  .navbarlinks.show{
    display: block;
  }

  .hbutton{
    display: flex;
  }

  .hbutton.toggle{
    transform: rotate(45deg);
  }
}
