.items{
    width: 88%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.items span{
    width: 48%;
    height: auto;
    min-height: 100px;
    max-height: 100px;
    overflow-x: auto;
    margin: 0 10px 10px 0;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    padding:10px;
    background: linear-gradient(to bottom right, rgba(255,255,255,0.03), rgba(255,255,255,0.1)) ;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
}

.items span::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}

.items span::-webkit-scrollbar-thumb{
    background-color: #666;
    border-radius: 10px;
}

.items span::-webkit-scrollbar-thumb:hover{
    background-color: #aaa;
}


.items span  img{
    height: 50px;
    width: 50px;
    background-color: #fff;
    padding:5px;
    object-fit: contain;
    border-radius: 3px;
}

.items span p{
    margin-left: 10px;
    width: 100%;
    font-size: 12px;
}


.testimonyContainer{
    width:88%;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    overflow-x: auto;
    padding: 20px 0 20px 20px;
}

.testimonyContainer::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}

.testimonyContainer::-webkit-scrollbar-thumb{
    background-color: #666;
    border-radius: 10px;
}

.testimonyContainer::-webkit-scrollbar-thumb:hover{
    background-color: #aaa;
}


.testimonyContainer > div{
    width: 25%;
    min-width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 2px solid #888;
    padding:10px;
    border-radius: 5px;
    margin-right: 20px;
    z-index: 11;
    user-select: none;
}

.testimonyContainer > div p{
    font-size: 12px;
    line-height: 1rem;
}


.testimonyContainer > div img{
    position: absolute;
    background-color: #666;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top:-20px;
    left: -10px;
    border: 3px double #888;
    object-fit: cover;
    /* box-shadow: 0 0 5px rgba(255,255,255,0.5); */
}

.testimonyContainer > div .personName{
    width: 100%;
    text-align: center;
    padding-bottom: 9px;
    font-weight: 600;
    font-size: 13px;
}
.testimonyContainer > div .testimony{
    text-align: center;
}

@media screen and (max-width: 700px) {
    .items{
        flex-direction: column;
    }

    .items span{
        width: 100%;
    }
}