:root{
    --bgcolor: #23262f;
    --fontcolor:#fff;
    --primary:#789cff;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
    /* font-size: 12px; */
}

html::-webkit-scrollbar{
    background-color: var(--bgcolor);
    width: 10px;
}

html::-webkit-scrollbar-thumb{
    background-color: #666;
    border-radius: 10px;
}

body{
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
    position: relative;
    color: var(--fontcolor);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

body #sideCard{
    position: sticky;
    top:20px;
    left: 20px;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(255,255,255,0.03), rgba(255,255,255,0.1)) ;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding:20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: default;
}

body #sideCard > img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #666;
    margin-bottom: 20px;
}

body #sideCard > p{
    font-weight: 600;
    margin-bottom: 20px;
}

body #sideCard > ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
}

body #sideCard > ul li{
   padding:10px;
   border-radius: 5px;
   background: linear-gradient(to bottom right, rgba(255,255,255,0.03), rgba(255,255,255,0.2)) ;
   font-size: 11px;
   margin: 5px;
}

body #sideCard > hr{
    width:100%;
    border-color: #666;
    margin-bottom: 20px;
}

body #sideCard > div{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

body #sideCard > div span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin:3px;
    padding:5px;
    width:100%;
}

body #sideCard > div span .fa{
    color:var(--fontcolor);
    font-size: 1.1rem;
    width:35px;
    text-align: center;
}

body #sideCard > div span p{
    width: 100%;
    font-size: 12px;
}

body #sideCard > .socialIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 74px;
}

body #sideCard > .socialIcons a{
    color:var(--fontcolor);
    margin-right: 5px;
}

body #mainContainer {
    height: auto;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgba(255,255,255,0.03), rgba(255,255,255,0.1)) ;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding:20px;
    width: calc(100% - 310px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

body #mainContainer nav{
    background-color: #666;
    position: absolute;
    top:0;
    right: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    width: 50%;
    height: 40px;
}

body #mainContainer nav a{
    font-size: 10px;
    width:100%;
    height:100%;
    color: var(--fontcolor);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body #mainContainer nav a:hover{
    text-shadow: 0 0 20px#fff ;
}


body #mainContainer nav a.active{
    color: var(--primary);
    font-weight: 600;
    text-shadow: 0 0 20px var(--primary);
}



body #mainContainer nav button{
    height: 75%;
    min-width:30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right:5px;
    border-radius: 50%;
    border:0;
    background-color: #888;
    color:var(--fontcolor);
}


body #mainContainer nav #pfCard{
    display:none;
}

body #mainContainer .context{
    font-size: 12px;
    width: 88%;
    margin:  0 auto;
    line-height: 17px;
}



body #mainContainer .title{
    margin: 15px 0 0 20px;
    font-size: 1rem;
    color: var(--fontcolor);
    padding:8px 10px;
    border-left: 3px solid var(--primary);
    display: block;
    text-shadow: -25px 0 20px var(--primary);
    cursor: default;
}

body #mainContainer hr{
    border-color: #888;
    width: 88%;
    margin: 20px auto;
}

.lilTitles{
    font-size: 13px;
    letter-spacing: 2px;
    width: 88%;
    margin:  10px auto;
}

@media screen and (min-width: 1300px) {
    body #mainContainer .context{
        font-size:1rem;
    }

    body #mainContainer .title{
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width:700px){
    body #sideCard{
        display: none;
        position: absolute;
        width: 90%;
        top:50px;
        left:50%;
        transform: translateX(-50%);
        margin: 20px auto;
        max-width:300px;
        height: fit-content;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        z-index: 10000;
    }

    body #mainContainer{
        width:100%;
    }

    body #mainContainer nav{
        width: 100%;
        height: 35px;
        border-radius: 0;
    }

    /* body #mainContainer nav button{
       display: block;
    } */

    body #mainContainer .title{
        margin: 30px 0 0 0;
    }

    body #mainContainer nav #pfCard{
        display:flex;
    }
}