.buttonsContainer{
    width:95%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.buttonsContainer button{
    padding:8px 15px;
    margin:5px 5px 0 0;
    font-size: 12px;
    border-radius: 10px;
    border:0;
    background-color: #666;
    color: var(--fontcolor);
    transition: .2s linear;
}

.buttonsContainer button:hover{
    background-color: #888;
}

.buttonsContainer .btnType.active{
    background-color: var(--primary);
}


.projectsContainer{
    width:95%;
    height: auto;
    margin: 10px auto;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    grid-gap:7px;
    color: var(--fontcolor);
}

.projectsContainer > a{
    background-color: #666;
    position: relative;
    color: var(--fontcolor);
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #777;
}

.projectsContainer > a img{
    height: 100%;
    width:100%;
    object-fit: cover;
    scale: 1.1;
    transition: .3s linear;
}

.projectsContainer > a:hover img{
    scale: 1;
    object-fit: contain;
}

.projectsContainer > a span{
    position: absolute;
    bottom: 0;
    width:100%;
    left:0;
    font-size: 12px;
    background-color: rgba(0,0,0,0.4);
    padding: 5px 10px;
    --webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 111;
}

@media screen and (min-width:1500px) {
    .projectsContainer{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .projectsContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 300px) {
    .projectsContainer{
        grid-template-columns: repeat(1, 1fr);
    }
}