.sub-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    position: relative;
}

.sub-wrapper .sidebar{
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: #333;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar > div{
    background-color: #222;
    width: 100%;
    padding: 10px 5px;
    height: auto;
}

.sidebar > div h2{
    color: var(--red-orange);
    text-transform: uppercase;
    text-align: left;
    font-size: 1.8rem;
    padding: 5px;
    font-family: 'Lato', sans-serif;
}

.sidebar > div p{
    color: var(--red-orange);
    font-size: 1rem;
    padding: 5px;
}

.sidebar .links{
    color: var(--white);
    padding: 10px 5px;
    width: 100%;
    transition: .2s linear;
    font-size: .9rem;
}

.sidebar .links:hover{
    background-color:#222;
}

.sidebar .links .fa{
    margin: 0 5px;
}

.sidebar .links.active{
    background-color: var(--red-orange);
}

.content-wrapper{
    width: 100%;
    margin-left: 20%;
    min-height: 100vh;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 20px;
    overflow: hidden;
}

.content-bar{
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.content-bar .fa{
    font-size:1rem;
    transition: .2s;
}

.content-bar .fa.fa-refresh:hover{
    color: var(--red-orange);
    transform: rotate(360deg);
}

.content-bar button{
    padding: 4px;
    border: 1px solid  var(--red-orange);
    border-radius: 10px;
    color:  var(--red-orange);
    background-color: var(--white);
    margin: 0 10px;
}

.content-bar button:hover{
    background-color:  var(--red-orange);
    color: var(--white);
}

.content-bar input{
    padding:5px 10px;
    border-radius: 10px;
    border: 1px solid #888;
    margin:0 5px;
}

.content-bar input:focus{
    outline: none;
    border: 1px solid var(--red-orange);
}

.title{
    width: 100%;
    min-height: 40px;
    height: 40px;
    color: var(--red-orange);
    border-bottom: 2px solid var(--red-orange);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    letter-spacing: 3px;
    cursor: default;
}

/* ===================================================================DASHBOARD */

.dashboard-grid-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(180px, auto);
    grid-gap: 10px;
    padding: 0 20px;
    background-color: #fff;
    padding-bottom: 20px;
}

.dashboard-grid-container>div{
    background: linear-gradient(to bottom right, var(--red-orange), var(--yellow-orange));
    border-radius: 10px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    cursor: default;
}

.dashboard-grid-container>div img{
    width: 50%;
    height: 170px;
    object-fit: contain;
    filter: brightness(0);
    padding:10px;
}

.dashboard-grid-container>div span{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-grid-container>div span .count{
    color: #fff;
    font-size: 5rem;
    text-align: center;
}

.dashboard-grid-container>div span p{
    font-size: 1.2rem;
    text-align: center;
}

#totalE{
    font-size: 2.5rem;
}

/* ===================================================================ANIMAL-RECORDS */
#search-animal{
    padding:5px 10px;
    border-radius: 10px;
    border: 1px solid #888;
}

#search-animal:focus{
    outline: none;
    border: 1px solid var(--red-orange);
}

.fa.fa-search, .fa.fa-refresh{
    color: #888;
    font-size: 1rem;
    margin: 3px;
}

.label-ana{
    width:100%;
    background-color: var(--red-orange);
    padding: 10px;
    color: var(--white);
}

#add-animal-form{
    padding: 20px 0;
    width: 100%;
    background-color: var(--white);
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

#add-animal-form>div{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-animal-form>div span{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

#add-animal-form>div span label{
    color: var(--red-orange);
    min-width: 55px;
}

#add-animal-form>div span input, #add-animal-form>div span select{
    padding: 5px;
    width: 200px;
    border: 1px solid #888;
    border-radius: 10px; 
}

#add-animal-form>div span input:focus, #add-animal-form>div span select:focus{
    outline: none;
    border: 1px solid  var(--red-orange);
}

#add-animal-form>div span input[type="file"]{
    border:0;
    padding: 6px;
}

#add-animal-form > div > label{
    color: var(--red-orange);
    display: block;
}

#add-animal-form > div textarea{
    resize: none;
    padding: 10px;
    height: 150px;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 1rem;
}

#add-animal-form > div textarea:focus{
    outline: none;
    border: 1px solid  var(--red-orange);
}

#add-animal-form>div span input::placeholder, #add-animal-form > div textarea::placeholder{
    font-size: .8rem;
}

#add-animal-form > div button{
    width: 100%;
    background-color: #ddd;
    border: 1px solid  var(--red-orange);
    padding: 5px;
    border-radius: 10px;
    color: var(--red-orange);
}

#add-animal-form > div button:hover{
    background-color: var(--red-orange);
    color: var(--white);
}

.a-pic-col{
    max-width: 110px;
    min-width: 110px;
  }
  
  .a-pic-col img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    background-color: #ccc;
  }
  
  .a-name-col,
  .a-kind-col,
  .a-sex-col,
  .a-age-col,
  .a-status-col{
    min-width: 100px;
    max-width: 100px;
  }
  
  .a-datea-col{
    min-width: 120px;
    max-width: 120px;
  }
  
  .a-buttons-col form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .a-buttons-col form button{
    margin-bottom: 5px;
    width: 80px;
  }
  
  .a-desc-col{
    max-width:200px;
    min-width: 200px;
  }

  /* ===================================================================EXPENSES */
  #add-expense-form{
    padding: 20px 0;
    width: 100%;
    background-color: var(--white);
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

#add-expense-form>div{
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-expense-form>div span{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

#add-expense-form>div span label{
    color: var(--red-orange);
    min-width: 105px;
}

#add-expense-form>div span input{
    padding: 5px;
    width: 200px;
    border: 1px solid #888;
    border-radius: 10px; 
}

#add-expense-form>div span input:focus{
    outline: none;
    border: 1px solid  var(--red-orange);
}

#add-expense-form > div > label{
    color: var(--red-orange);
    display: block;
    width: 100%;
}

#add-expense-form > div textarea{
    resize: none;
    padding: 10px;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 1rem;
}

#add-expense-form > div textarea:focus{
    outline: none;
    border: 1px solid  var(--red-orange);
}

#add-expense-form>div span input::placeholder, #add-expense-form > div textarea::placeholder{
    font-size: .8rem;
}

#add-expense-form > div button{
    width: 100%;
    background-color: #ddd;
    border: 1px solid  var(--red-orange);
    padding: 5px;
    border-radius: 10px;
    color: var(--red-orange);
}

#add-expense-form > div button:hover{
    background-color: var(--red-orange);
    color: var(--white);
}

.bottom{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}

/* ===================================================================MESSAGES */
.all-messages-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    min-height: 200px;
    max-height: 100vh;
}

.message-preview{
    width: 100%;
    font-size:1rem;
    color: #222;
    padding: 20px;
    position: relative; 
}

.message-preview:nth-child(odd){
    background-color:#ddd;
}

.message-preview:nth-child(even){
    background-color:#eee;
}

.delete-this-message-form{
    position:absolute;
    top: 50%;
    right: 20px;
    transform:translateY(-50%);
}

.delete-this-message-form button{
    background-color: transparent;
    border:0;
}

.delete-this-message-form button .fa{
    font-size: 1.2rem;
    color: #888;
}

.delete-this-message-form button .fa:hover{
    color: var(--red-orange);
}