.banner{
    width: 100%;
    text-align: center;
    background: linear-gradient(to bottom right, var(--red-orange), var(--yellow-orange));
}

.banner h1{
    padding: 20px;
    color: var(--white);
    text-shadow: var(--h-text-shadow);
}

.selection-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding: 10px;
    height: 40px;
}

.selection-bar select, .selection-bar input{
    padding:5px 10px;
    border-radius: 10px;
    border: 1px solid #888;
}

.selection-bar select:focus, .selection-bar input:focus{
    outline: none;
    border: 1px solid var(--red-orange);
}

.selection-bar > span{
    position: relative;
}

.selection-bar > span > .fa{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #888;
}

.grid-container{
    width: 100%;
    margin: 0 auto;
    height:auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 20px;
    background-color: var(--white);
    padding:20px;
}

.grid-container > div{
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    padding: 20px;
}

.grid-container > div img{
    height: 250px;
    width: 250px;
}

.grid-container > div img{
    box-shadow: 3px 4px 3px rgba(0,0,0,0.5);
}

.grid-container > div > div{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.grid-container > div > div > span{
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}

.grid-container > div > div > span > label{
    color: var(--red-orange);
    min-width: 60px;
}

.grid-container > div > div > label{
    color: var(--red-orange);
    width: 100%;
    display: block;
}

#text-area{
    font-size: .9rem;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 130px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #444;
}

.grid-container > div > div > button{
    width: 100%;
    color: var(--white);
    border: 0;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, var(--red-orange), var(--yellow-orange));
    cursor: pointer;
}