header{
    width: 100%;
    text-align: center;
    cursor: default;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1{
    color: var(--white);
    font-size: 3.5rem;
    text-shadow: var(--h-text-shadow);
}

header p{
    font-size: 1.5rem;
    color: var(--white);
}

header span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

header span p{
    font-size: 1rem;
    margin-right: 5px;
}

header span p:nth-child(3){
    margin: 0 20px;
}

header img{
    position: absolute;
    height: 90%;
    bottom: 0;
    left: 0;
    object-fit: contain;
    z-index: -1;
    opacity: .3;
}

.donation-form{
    position: relative;
    height: 350px;
    width: 600px;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: var(--white);
}

.donation-form img{
    min-width: 50%;
    height: 100%;
    object-fit: contain;
}

.donation-form span{
    min-width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.donation-form span img{
    display: block;
    height: 45%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    object-fit: contain;
}

.donation-form span p{
    text-align: justify;
}