/* ========================================================RESERVATION */
.user-reservation-container{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.user-reservation-container .card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: auto;
    background-color: var(--white);
    margin: 10px;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 5px 4px rgba(0,0,0,0.4);
}

.user-reservation-container .card > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

.user-reservation-container .card .left span{
    padding: 20px;
    width: 100%;
    display: flex;
}

.user-reservation-container .card .left span:nth-child(even){
    background-color: #dde;
}

.user-reservation-container .card .left > span label{
    color: var(--red-orange);
    min-width: 135px;
}

.user-reservation-container .card .right{
    width:100%;
    height: 100%;
}

.user-reservation-container .card .right img{
    width:100%;
    height: 100%;
    object-fit: contain;
    background-color:#dde;
}

#cancel-form{
    height: 400px;
    width: 600px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: default;
}

#cancel-form > label{
    background-color: var(--red-orange); 
    width:100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 0;
    color: var(--white);
    margin-bottom: 10px;
 }
 
 #cancel-form .top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px 20px;
 }
 
 #cancel-form .top label{
    color: var(--red-orange);
    min-width: 100px;
 }

 #cancel-form .top span{
     width: 100%;
     display: flex;
     margin: 5px 0;
 }
 
 #cancel-form .top p{
     margin-bottom: 10px;
 }

 #cancel-form .bottom-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}
 
 #cancel-form .bottom-card textarea{
    padding: 10px;
    width: 100%;
    height: 100px;
    resize: none;
    margin-top: 5px;
    border-radius: 10px;
 }
 
 #cancel-form .bottom-card textarea:focus{
    outline: none;
    border: 1px solid var(--red-orange);
 }

 #cancel-form .bottom-card label{
    display: block;
    color: var(--red-orange);
 }
 
 
 #cancel-form .bottom-card button{
    width: 250px;
    border: 0;
    padding: 5px;
    background: #f00;
    color: var(--white);
    border-radius: 20px;
    margin-top: 40px;
 }

 .text-display{
    border:0;
    color: var(--red-orange);
    cursor:default;
 }

 .text-display:focus{
    outline: none;
 }

 /* ========================================================USER MESSAGES */
 .message-container{
    width: 95%;
    height:auto;
    padding:20px;
    border: 1px solid #888;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
 }

 .message-container h4{
    margin-top: 20px;
    margin-bottom: 5px;
 }

  /* ========================================================USER ACCOUNT MANAGEMENT */
#update-account-form{
    width: 100%;
}

.user-info{
    width: 100%;
    margin: 5px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    padding: 20px;
}

.user-info h1{
    color: var(--red-orange);
    font-size: 2rem;
    margin-bottom: 20px;
}

.user-info span:nth-child(even){
    background-color:#dde;
}

.user-info span{
    width: 100%;
    display: flex;
    align-items: center;
    padding:10px;
}

.user-info span label{
    min-width: 140px;
    color: var(--red-orange);
}

.user-info span input{
    width: 200px;
    padding:5px;
    border-radius: 10px;
    border: 1px solid #888;
    margin: 0 5px;
}

.user-info span input:focus, .user-info span textarea:focus{
    outline: none;
    border: 1px solid var(--red-orange);
}

.user-info span textarea{
    width: 100%;
    height: 50px;
    padding: 5px;
    resize: none;
    border-radius: 10px;
    margin: 0 5px;
}

.user-info span .fa.fa-eye-slash{
    color: #888;
}