*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    height: 100vh;
    width: 100%;
      background-color: #0a0a2a;
}

/* THIS IS A MOBILE-FIRST WEBSITE */
@media screen and (max-width: 600px){
    .wrapper{
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #0a0a2a;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
    }

    .header{
        width: 100%;
        height: 250px;
        background-color:#0a0a2a;
        display: flex;
        justify-content: center;
        align-items:center;
        padding:10px;
        border-bottom: 2px solid #90ee90;
    }

    .title{
        font-size: 3rem;
        color: #90ee90;
        animation-name: glow;
        animation-duration: 1s;
        animation-iteration-count: 5;
        animation-timing-function: forwards;
        animation-direction: alternate-reverse;
    }

    @keyframes glow{
        from{text-shadow: 0 0 1px rgb(151, 251, 151);}
        to{text-shadow: 0 0 20px rgb(182, 255, 182);}
    }

    .wrapper .container-form{
        position: relative;
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding: 10px;
        margin: 30px 0;
    }

    .container-form .nickname{
        outline: none;
        width: 330px;
        height: 50px;
        background-color: #0a0a2a;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
        border: 2px solid #90ee90;
        border-radius: 20px;
        color: #90ee90;
        padding: 0 15px;
        margin-right: 10px;
        font-size: 1.5rem;
    }

    .container-form .okbutton{
        outline: none;
        border: 2px solid transparent;
        color: #080820;
        height: 45px;
        width: 50px;
        background-color: #90ee90;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: bolder;
        margin-right: 23%;
        transition: .5s;
    }

    .okbutton:focus{
        border: 2px solid #90ee90;
        background-color: #080820;
        color: #90ee90;
    }

    .container-form .info{
        border: 3px solid #90ee90;
        color: #90ee90;
        display: flex;
        align-items:center;
        justify-content:center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: bolder;
        cursor: pointer;
        opacity: .6;
    }

    .container-form .text-info{
      position: absolute;
      top:-15px;
      left: 340px;
      background-color: #eee;
      color: #080820;
      font-size: .7rem;
      font-family: sans-serif;
      font-weight: 100;
      padding:5px;
      display: none;
    }

    .info:hover>.text-info{
        display: flex;
    }

    .wrapper .message-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 10px;
        padding-bottom: 20px;
        display: flex;
        justify-content:center;
        align-items:flex-start;
    }

    .message-container .message{
        background: linear-gradient(to bottom,  #baffba, #90ee90);
        height: auto;
        width: 88%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0 6px 3px rgba(0, 0, 0, 0.5);
        padding: 20px;
        animation-timing-function: linear;
    }

    @keyframes height {
      from{height: 60px; opacity: 1;}
      to {height: 200px; opacity: .4;}
    }

   .tmym{
     margin-bottom: 20px;
   }

   .message p{
     text-align: justify;
     text-indent: 50px;
   }

}
