*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    z-index: -111111111111111111;
}

html{
    scrollbar-width: normal;
    scrollbar-color: white black;
}

html::-webkit-scrollbar{
    width: .7vw;
}

html::-webkit-scrollbar-thumb{
    background-color: #eee;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 5px black;
}

html::-webkit-scrollbar-track{
    background-color: rgba(7, 7, 7, 0.4);

}

body{
    height: 100vh;
    width: 100%;
    background: rgb(140, 140, 140, 0.1);
}

body section{
    height:100vh;
    width: 100%;
}

.loader{
    position: fixed;
    height:100%;
    width: 100%;
    background-color: #080820;
    z-index: 1111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
}

.spinner{
    border: 5px solid rgb(238, 238, 238, 0.5);
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    border-top: 5px solid rgb(238, 238, 238);
    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes spin {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

#home{
    background-color: #eee;
}

#home p{
    font-size: 4rem;
    color: black;
}

#about{
    background-color: #080820;
}

#works{
    background-color: #eee;
}

#contact{
    background-color: #080820;
}

#navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    width: 100%;
    height: 3rem;
    transition: .3s linear;
    z-index: 111;
    -webkit-touch-callout: none;
   -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
}

#navbar:hover{
    box-shadow: 0 4px 1px rgb(8, 8, 32,0.4);
}

#navbar.scrolledUp{
    position: fixed;
    transition: .3s linear;
    box-shadow: 0 4px 1px rgb(8, 8, 32,0.4);
}

#logo img{
    height: 90%;
    padding-left: .5rem;
}

#navbarlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}

#navbarlinks a, a:active, a:visited{
    position: relative;
    color: #080820;
    padding: 0 .5rem;
    transition: .5s linear;
}

#navbarlinks a:hover,  #navbarlinks a.active{
    color: #0a0a2a;
    font-weight: bolder;
    transition: .5s linear;
}

#navbarlinks a::after, #navbarlinks a.active::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 50%;
    background-color: #0a0a2a;
    transition: .5s ease;
}

#navbarlinks a:hover::after, #navbarlinks a.active::after{
    left: 0%;
    width: 100%;
}

.hburger-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 25px;
    width: 25px;
    display: none;
}

.hburger-btn .hbar{
    position:absolute;
    height: 3px;
    width: 100%;
    background-color:#080820;
    border-radius: 10px;
    transition: .3s linear;
    box-shadow: 0 0 2px #eee;
}


.hburger-btn span:nth-child(2){
    top: 1;
}

.hburger-btn span:nth-child(3){
    bottom: 1;
    height: 3.5px;
}

.X{
  display: none;
}

footer{
    width: 100%;
    height: 1rem;
    text-align: center;
    color: #080820;
    background-color: #eee;
}

footer p {
    font-size: .8rem;
}

@media screen and (max-width: 700px){

  #navbar{
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #080820;
    padding: 10px 0;
  }

  #navbar.toggled{
      display: flex;
  }

  #logo img{
    display: none;
  }

  #navbarlinks{
    display: block;
    text-align: center;
    height: auto;
    width: 100%;
  }

  #navbarlinks li {
    padding: 10px 0px;
  }

  #navbarlinks a, a:active, a:visited{
    color: #eee;
  }

  #navbarlinks a::after, #navbarlinks a.active::after{
    background-color: #eee;
  }

  #navbarlinks a:hover,  #navbarlinks a.active{
      color: #eee;
  }

  body .btn-container{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  }

  .hburger-btn{
    display: flex;
  }

  .X{
    position: absolute;
    font-size: 1.6rem;
    font-size-adjust: auto;
    font-weight: bolder;
    color: white;
    display: none;
    transition: .3s linear;
    cursor: pointer;
    text-align: center;
    height: 100%;
    width: 100%;
    transition: .3s linear;
  }

  .X.showx{
    display: flex;
    transition: .3s linear;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 2px #080820;
  }

  .hbar.hide{
    display: none;
  }

}

/* ////////////////////////////////////////////////////////////////////////////// SECTION CONTENT BUILDING - HOME*/

#home{
    display:flex;
    justify-content:center;
    align-items: center;
}

#home .left{
    position: relative;
    height: 100%;
    width: 50%;
    padding-top: 170px;
    padding-left: 100px;
}

#home p{
    font-size: 1.3rem;
}

.animate{
    animation-name: changeColors;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    text-shadow: 0 2px 1px rgb(8, 8, 32, 0.9);
    font-weight: 600;
}

@keyframes changeColors {
    0%{color: red;}
    20%{color: orange;}
    40%{color: rgb(255, 234, 0);}
    50%{color: green;}
    75%{color: blue;}
    100%{color: purple;}
}

#home h1{
    font-size: 4rem;
    line-height:4rem;
    color: #082020;
}

#home button{
    margin-top: 4.5rem;
    border: 2px solid transparent;
    background-color: #080820;
    padding: 10px;
    border-radius: 15px;
    transition: .3s ease;
}

#home button a{
    color: #eee;
}

#home button:hover{
    background-color:#fff;
    border: 2px solid #080820;
    box-shadow: 0 4px 1px rgb(8, 8, 32,0.4);
}

#home button:hover>a{
    color: #080820;
    font-weight: bolder;
}

#home .right{
    position: relative;
    height: 100%;
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#home .right .img-holder{
    position: relative;
    height: 80%;
    width: 60%;
}


#home .right .img-holder img{
    position: absolute;
    top: -2px;
    left: 20px;
    height: 100%;
    object-fit: contain;
    z-index: 5;
    transition: .3s linear;
}

#home .right .img-holder p{
    position:absolute;
    top: 5rem;
    right: 13px;
    color: #080820;
    z-index: 1;
    font-size: 1rem;
    font-weight: bolder;
    opacity: 0;
    transition: .3s linear;
}

#home .right  .img-holder .bg-img{
    position: absolute;
    background-color: #fff;
    border: 2px solid #080820;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#home .right  .img-holder .bg-img::after{
    content:'';
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100%;
    width: 100%;
    background-color: #080820;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: -1;
    transition: .3s linear;
}

#home .right  .img-holder:hover>img{
    left: 0;
}

#home .right  .img-holder:hover>p{
    opacity:1;
}

#home .right  .img-holder:hover >.bg-img::after{
    top: 20px;
    left: 20px;
    background-color: rgb(8, 8, 32, 0.4);
}

/* ////////////////////////////////////////////////////////////////////////////// SECTION CONTENT BUILDING - ABOUT*/
#about{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    position: relative;
}

.leftA{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.profile-card{
    position: relative;
    height: 75%;
    width: 65%;
    transition: .3s linear;
    transform-style: preserve-3d;
    box-shadow: 0 8px 10px rgba(0,0, 0, 0.5);
    border-radius: 100px;
}

.profile-card.flip{
    transform: rotateY(180deg);
}

.front, .back{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-card  .back{
    background-color: #fff;
    transform: rotateY(180deg);
    padding: 20px;
    text-align: center;
}

.rightA{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightA section{
    padding: 10px;
    position: relative;
    width: 100%;
    height: 150px;
}

.rightA section h3{
    color: #add8e6;
    font-size: 1.7rem;

}

.rightA img{
    position: absolute;
    width: 300px;
    padding-bottom: 20px;
}


/* ////////////////////////////////////////////////////////////////////////////// SECTION CONTENT BUILDING - CONTACT*/

#contact{
    position: relative;
    height: auto;
    min-height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about .titlebar h2, #contact .titlebar h2{
    position:absolute;
    top: 0;
    left: 0;
    padding: 8px;
    padding-right: 10px;
    background-color: #eee;
    color: #080820;
    border-bottom-right-radius: 25px;
    box-shadow: 0 5px 2px rgb(0, 0, 0, 0.5);
    letter-spacing: 3px;
    font-size: 1.3rem;
}

#contact div{
    position: relative;
    padding: 3rem;
    padding-top: 2.5rem;
    width: 50%;
    height: 100%;
}

#contact div h3{
    color: #eee;
    padding-bottom: 10px;
}

#contact ul li{
    margin: 10px 0;
    cursor: pointer;
}

#contact .leftC{
    height: 80vh;
}

#contact a{
    color: rgb(173, 216, 230);
    opacity: .4;
    transition: .2s linear;
    font-size: 1rem;
}

#contact ul li a:hover, #contact a:hover>.fa{
    opacity:1;
    font-size: 1.5rem;
    color: #fff;
}

#contact ul li a:hover>.fa-envelope{
    color: red;
}

#contact ul li a:hover>.fa-facebook-square{
    color: blue;
}

#contact ul li a:hover>.fa-twitter-square{
    color: skyblue;
}

#contact ul li a:hover>.fa-instagram{
    color: orange;
}

#contact ul li a:hover>.fa-linkedin-square{
    color: lightblue;
}

#contact ul li a:hover>.fa-github-square{
    color: rgb(34, 2, 2);
}

#contact ul li a:hover>.fa-pinterest-square{
    color: rgb(180, 0, 0);
}

#contact a .fa{
    font-size: 1rem;
    padding-right: 10px;
    transition: .2s linear;
}

.rightC form{
    display: flex;
    flex-direction: column;
}

.rightC form input[type=text], textarea{
    outline: none;
    padding: 10px 10px;
    width: 80%;
    background-color: rgb(238, 238, 238, 0.4);
    margin-bottom: 10px;
    border-radius: 10px;
    resize: none;
    border: 1px solid transparent;
    transition: .3s linear;
}

.rightC form label{
    color: #eee;
}

.rightC form input[type=text]::placeholder, textarea::placeholder{
    color: rgb(8, 8, 32, 0.6);
    font-style: italic;
}

.rightC form input[type=text]:focus, textarea:focus{
    border: 1px solid #fff;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.5);
}

.rightC form button{
    opacity: .4;
    border: 2px solid transparent;
    background-color: #eee;
    padding: 10px;
    border-radius: 15px;
    transition: .3s ease;
    color: #080820;
    width: 100px;
}

.rightC form button:hover{
    border: 2px solid #eee;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.5);
    background-color: #eee;
    opacity: 1;
}