*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}

html{
    scrollbar-width: normal;
    scrollbar-color: white black;
}

html::-webkit-scrollbar{
    width: .7vw;
}

html::-webkit-scrollbar-thumb{
    background-color: #eee;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 5px black;
}

html::-webkit-scrollbar-track{
    background-color: rgba(7, 7, 7, 0.4);

}

body{
    height: 100vh;
    width: 100%;
    background: rgb(140, 140, 140, 0.1);
}

body section{
    height:100vh;
    width: 100%;
}

#home{
    background-color: #eee;
}

#home p{
    font-size: 4rem;
    color: black;
}

#about{
    background-color: rgb(193, 193, 193);
}

#works{
    background-color: rgb(100, 100, 100);
}

#contact{
    background-color: rgb(40, 40, 40);
}

#navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    width: 100%;
    height: 3rem;
    -webkit-touch-callout: none;
   -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
}

#navbar.scrolledUp{
    position: fixed;
    transition: .3s linear;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

#logo img{
    height: 90%;
    padding-left: .5rem;
}

#navbarlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}

#navbarlinks a, a:active, a:visited{
    position: relative;
    color: #080820;
    padding: 0 .5rem;
    transition: .5s linear;
}

#navbarlinks a:hover,  #navbarlinks a.active{
    color: #0a0a2a;
    font-weight: bolder;
    transition: .5s linear;
}

#navbarlinks a::after, #navbarlinks a.active::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 50%;
    background-color: #0a0a2a;
    transition: .5s ease;
}

#navbarlinks a:hover::after, #navbarlinks a.active::after{
    left: 0%;
    width: 100%;
}

.hburger-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 25px;
    width: 25px;
    display: none;
}

.hburger-btn .hbar{
    position:absolute;
    height: 3px;
    width: 100%;
    background-color:#080820;
    border-radius: 10px;
    transition: .3s linear;
    box-shadow: 0 0 2px #eee;
}


.hburger-btn span:nth-child(2){
    top: 1;
}

.hburger-btn span:nth-child(3){
    bottom: 1;
    height: 3.5px;
}

.X{
  display: none;
}

@media screen and (max-width: 700px){

  #navbar{
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #080820;
    padding: 10px 0;
  }

  #navbar.toggled{
      display: flex;
  }

  #logo img{
    display: none;
  }

  #navbarlinks{
    display: block;
    text-align: center;
    height: auto;
    width: 100%;
  }

  #navbarlinks li {
    padding: 10px 0px;
  }

  #navbarlinks a, a:active, a:visited{
    color: #eee;
  }

  #navbarlinks a::after, #navbarlinks a.active::after{
    background-color: #eee;
  }

  #navbarlinks a:hover,  #navbarlinks a.active{
      color: #eee;
  }

  body .btn-container{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  }

  .hburger-btn{
    display: flex;
  }

  .X{
    position: absolute;
    font-size: 1.6rem;
    font-size-adjust: auto;
    font-weight: bolder;
    color: white;
    display: none;
    transition: .3s linear;
    cursor: pointer;
    text-align: center;
    height: 100%;
    width: 100%;
    transition: .3s linear;
  }

  .X.showx{
    display: flex;
    transition: .3s linear;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 2px #080820;
  }

  .hbar.hide{
    display: none;
  }

}
