*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
    /* font-size: 12px; */
    color:#fff;
}

body{
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgb(17, 53, 98), #d4eeff);
}

.land{
    position: absolute;
    bottom: 0;
    height: 20%;
    width:100vw;
    background: linear-gradient(to bottom, rgb(0, 92, 0), rgb(0, 39, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sun{
    position: absolute;
    left:10%;
    top:10%;
    background-color: #fdfce6;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 10px rgba(255,255,255,0.5),
                0 0 20px rgba(255,255,255,0.5);
}

.postContainer{
    height: auto;
    width:auto;
    position: absolute;
    transform: translateY(-80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.card{
    position: absolute;
    width:90%;
    max-width: 350px;
    height: auto;
    min-height: 100px;
    background: linear-gradient(to bottom right, rgba(255,255,255,0.1), rgba(255,255,255,0.3), rgba(255,255,255,0.1));
    border-radius: 5px;
    border:1px solid rgba(255,255,255,0.3);
    z-index:111;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

