*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
    /* font-size: 12px; */
}

body{
    width:100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
}

body form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 60px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 3, 172, 0.2),
                0 0 20px rgba(0,0,0,0.1);
}

label{
    width: 100%;
    padding:10px 0 ;
    font-size: 14px;
}

select,
input{
    width: 100%;
    padding:8px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
}


button{
    width:100%;
    padding:10px 5px;
    border-radius: 10px;
    border:0;margin-top: 20px;
    background:linear-gradient(to bottom right, purple,navy, blue);
    color:#fff;
}

.reqContainer{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: auto;
    min-height: 60px;
    margin-top: 20px;
}

.reqContainer span{
    min-width:24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}
.successMsg{
    display: none;
    background-color: #fff;
    padding:10px 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(7, 87, 0, 0.15),
                0 0 15px rgba(28, 168, 0, 0.3);
    margin-top: 20px;
}

.successMsg p{
    font-size: 12px;
    color: #555;
    width: 100%;
    text-align: center;
}