*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: verdana;
  color: white;
}

p{
  font-family: tahoma;
  font-size: 11px;
  margin: 10px;
  text-align: left;
}

h1{
  margin-top: 180px;
}

body{
  background-color:#2b2b3d;
}

.logo{
  display: flex;
  position: relative;
  height: 180px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.box{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom left, red, yellow);
}

.card1, .card2, .card3{
  text-align: center;
}

.card1{
  position: relative;
  height: 400px;
  width: 200px;
  background-color: none;
  margin: 20px;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: .5s ease-in;
}

.card1:hover{
  transform: rotateY(180deg);
}

.Fcard1, .Bcard1{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.Fcard1 {
  background-color: #b32f25;
}

.Bcard1 {
  background-color: #6e1e18;
  transform: rotateY(180deg);
}

/* ============================================== */

.card2{
  position: relative;
  height: 400px;
  width: 200px;
  background-color: none;
  margin: 20px;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: .4s ease-in;
}

.card2:hover{
  transform: rotateY(180deg);
}

.Fcard2, .Bcard2{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.Fcard2{
  background-color: #7bc270;
}

.Bcard2{
  background-color: #41663b;
  transform: rotateY(180deg);
}

/* ============================================== */
.card3{
  position: relative;
  height: 400px;
  width: 200px;
  background-color: none;
  margin: 20px;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: .3s ease-in;
}

.card3:hover{
  transform: rotateY(180deg);
}

.Fcard3, .Bcard3{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.Fcard3{
  background-color: #465fc2;
}

.Bcard3{
  background-color: #222e5c;
  transform: rotateY(180deg);
}

@media (max-width:600px){
  .box{
    height: auto;
    flex-direction: column;
  }
}
