*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080820;
    height: 100vh;
    width: 100%;
}

.head{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: rgb(255, 204, 0);
    border-radius: 50%;
}

.head.red{
    background-color: red;
}

.head::before{
    content:'';
    position: absolute;
    top: 235px;
    width: 200px;
    height: 70px;
    background: rgb(92, 31, 8);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    transition: .3s linear;
}

.head:hover::before{
    content:'';
    position: absolute;
    top: 250px;
    width: 200px;
    height: 20px;
    background: rgb(92, 31, 8);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.eyes{
    position: relative;
    display: flex;
    top: -60px;
}

.eyew{
    position: relative;
    display:block;
    height: 100px;
    width: 100px;
    background: #fff;
    margin: 0 20px;
    border-radius: 50%;
}

.eyes .eyew::before{
    content:'';
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%, -50%);
    background: rgb(43, 43, 43);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}