article{
    height: auto;
    width: 90%;
    min-height: 30%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

article img{
    width: 40%;
}

article p{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    text-align: justify;
    text-indent: 50px;
}

#a1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#a1 p{
    text-align: justify;
}

img{
    filter: opacity(85%);
}