*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    height: auto;
    min-height: 100vh;
    background: linear-gradient(to top right, rgb(255, 171, 111), rgb(250, 231, 191));
    width: 100%;
}

nav{
    background-color: rgb(193, 80, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

nav li{
    position: relative;
}

nav li:nth-child(5){
    margin: 0 30px;
    color: #fff;
}

a, a:active, a:visited{
    color: #fff;
}

nav span{
    cursor: default;
    margin-left: 20px;
    color: #fff;
    display: flex;
    align-items: center;
}

nav span p{
    padding-left: 10px;
    font-weight: 600;
    letter-spacing: 5px;
}

.navbarlinks{
    display: flex;
    margin-right: 20px;
}

.navbarlinks a{
    padding: 5px 10px;
    margin: 0 5px;
    transition: .4s linear;
    border-radius: 5px;
}

.navbarlinks a:hover, a.active{
    background-color: #fff;
    color:rgb(193, 80, 0);
}

#signInBtn{
    border: 2px solid #fff;
    border-radius: 20px;
    font-weight: 500;
    transition: .2s;
}

#signInBtn:hover{
    background-color: #fff;
    color:rgb(193, 80, 0);
    order: 2px solid transparent;
}

header{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    color:rgb(193, 80, 0);
}

header .container-img{
    position: relative;
    min-width: 40%;
    height:100%;
    margin-right: 30px;
    overflow: hidden;
}

header .container-img img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    filter: opacity(85%);
}

header h1{
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
    color: #fff;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    line-height: 4rem;
    margin-bottom: 20px;
}

header p{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

header button{
    background-color:rgb(193, 80, 0);
    border: 0;
    margin-top: 30px;
    padding: 8px;
    border-radius: 15px;
    font-size: 1rem;
    margin-right: 10px;
    border: 2px solid  transparent;
    transition: .2s;
}

header button:hover{
    background-color:#fff;
    border: 2px solid  rgb(193, 80, 0);
}

header button:hover a{
    color: rgb(193, 80, 0);
}

footer{
    background-color: rgb(193, 80, 0);
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    cursor: default;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    height: auto;
    min-height: 100vh;
    width: 100%;
}

.header{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    text-align: center;
    cursor: default;
}